@* Copyright © 2026 David Browning. All rights reserved.
   Source-available for viewing only. No license granted. *@
@inject DavidBrowning.Infrastructure.UrlBuilder urlBuilder
@model DavidBrowning.Models.Writing.Post


<article class="wb-card h-100 d-flex flex-column">
	<p class="wb-card-meta">@Model.PostStyle!.DisplayName</p>
	<h3>@Model.Title</h3>
	<p class="text-secondary">
		@Model.Summary
	</p>
	<div class="mt-4">
		<ul class="wb-tag-list">
			@foreach (var tag in Model.Tags)
			{
				var m = new DavidBrowning.Web.ViewModels.QueryTagViewModel()
				{
					Controller = "writing",
					Endpoint = "tags",
					DisplayName = tag.WritingTag!.DisplayName,
					Slug = tag.WritingTag!.Slug,
				};

				<partial name="_QueryTag" model="@m" />
			}
		</ul>
	</div>
	<div class="mt-auto pt-4">
		<a href="@urlBuilder.GetDetailsUrl(Model.Slug, "writing")">
			More
			<i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
		</a>
	</div>
</article>