@* Copyright © 2026 David Browning. All rights reserved.
   Source-available for viewing only. No license granted. *@

@*
	A featured project card is a narrow card with the overview a project.
*@
@inject DavidBrowning.Infrastructure.UrlBuilder urlBuilder
@model DavidBrowning.Models.Projects.Project

<article class="wb-card h-100 d-flex flex-column">
	<p class="wb-card-meta">@Model.ProjectType!.DisplayName</p>

	<h3>@Model.Name</h3>

	<p class="text-secondary">
		@Model.Description
	</p>

	<div class="mt-4">
		<ul class="wb-tag-list">
			@foreach (var tag in Model.StackTagLinks)
			{
				var m = new DavidBrowning.Web.ViewModels.QueryTagViewModel()
				{
					Controller = "projects",
					Endpoint = "stacks",
					DisplayName = tag.ProjectStackTag!.DisplayName,
					Slug = tag.ProjectStackTag!.Slug,
				};

				<partial name="_QueryTag" model="@m" />
			}
		</ul>
	</div>

	<div class="mt-auto pt-4">
		<a href="@urlBuilder.GetDetailsUrl(Model.Slug, "projects")">
			More
			<i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
		</a>
	</div>
</article>