@* Copyright © 2026 David Browning. All rights reserved.
   Source-available for viewing only. No license granted. *@
@model DavidBrowning.Models.ViewModels.Work.CredentialViewModel

<article class="wb-card h-100 d-flex flex-column">
	@if (!string.IsNullOrEmpty(Model.Type))
	{
		<p class="wb-card-meta">@Model.Type</p>
	}

	<div class="container" style="padding-left: 0px">
		<div class="row row-cols-2">
			<div class="col col-8">
				<h3>@Model.Name</h3>
			</div>
			@if (!string.IsNullOrEmpty(@Model.DateDisplayText))
			{
				<div class="col col-4">
					<div class="col d-flex justify-content-end text-end">
						@Model.DateDisplayText
					</div>
				</div>
			}
		</div>
	</div>
	<p class="wb-card-meta">@Model.IssuingOrganization</p>

	@if (!string.IsNullOrEmpty(Model.Description))
	{
		<p class="text-secondary">
			@Model.Description
		</p>
	}

	@if (!string.IsNullOrEmpty(Model.CredentialUrl))
	{
		<div class="mt-auto pt-4">
			<a href="@Model.CredentialUrl">
				More info
			</a>
		</div>
	}
</article>