@* Copyright © 2026 David Browning. All rights reserved.
   Source-available for viewing only. No license granted. *@
@model DavidBrowning.Models.ViewModels.Work.ExperienceViewModel

<article class="wb-card h-100 d-flex flex-column">
	@if (!string.IsNullOrEmpty(Model.LocationDisplayText))
	{
		<p class="wb-card-meta">@Model.LocationDisplayText</p>
	}
	<h3>@Model.CompanyName</h3>
	<div class="container">
		@foreach (var role in Model.Roles)
		{
			<div class="row mt-4">
				<div class="container" style="padding-left: 0px">
					<div class="row row-cols-2">
						<div class="col col-8">
							<h4>@role.Title</h4>
						</div>
						@if (!string.IsNullOrEmpty(role.DateDisplayText))
						{
							<div class="col col-4">
								<div class="col d-flex justify-content-end text-end">
									@role.DateDisplayText
								</div>
							</div>
						}
					</div>
				</div>
			</div>

			<div class="row row-cols-1">
				<div class="col">

					<p>@role.Description</p>
					<ul>
						@foreach (var bullet in role.Bullets)
						{
							<li>@bullet</li>
						}
					</ul>
				</div>
			</div>
		}
	</div>
</article>